.sendForm {
   display: flex;
   margin-top: 80px;
  
}

.textarea {
    width: 80%;
    min-height: 40px;
  background-color: rgba(29, 33, 38, 0.03);
  font-size: 14px;
 font-weight: 400;
 border: none;
 align-items: center;
}

.button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: #06C;
    margin-left: 44px;
}

.button:hover {

}
.button:active {

}
